body {
  background-color: #52acff;
  background-image: linear-gradient(180deg, #52acff 25%, #ffe32c 100%);
}

h1 {
  text-align: center;
  color: #fff;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 14px;
  gap: 10px;
  background: #ff6b0a;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

section {
  margin-left: 20px;
}

footer {
  margin-left: 20px;
}
.link {
  color: teal;
}

.link:hover {
  color: tomato;
}
.social-links .link {
  color: teal;
}

.social-links .link:hover {
  color: tomato;
}
